.about-container {
  display: flex;
  flex-direction: column;
}

.about-container > .inner-text {
  flex-direction: row;
  margin: 100;
}

.inner-text > p > a {
  margin-left: 4px;
  text-decoration: none;
  color: inherit;
}

.about-image {
  margin: 10px 80px;
  align-self: right;
  justify-self: flex-end;
  width: 50%;
}

@media screen and (max-width: 415px) {
  .about-image {
    margin: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .about {
    max-width: 50%;
  }
  .about-image {
    margin: 20px;
    width: 100%;
  }
}